
    <header class="header-menu">
        <nav>
            <ul>
                <li><a href="2learning-apps.php">Learning apps</a></li>
                <li><a href="3audiobooks.php">Audiobooks</a></li>
                <li><a href="4ebooks.php">E-books</a></li>
                <li><a href="5exchange-apps.php">Exchange apps</a></li>
                <li><a href="6online-courses.php">Online courses</a></li>
                <li><a href="7podcasts.php">Podcasts</a></li>
                <li><a href="8websites.php">Learning websites</a></li>
                <li><a href="9movies.php">Movies, music, etc</a></li>
                <li><a href="1landing-page.php">Home</a></li>
            </ul>
        </nav>
    </header>
